## Termite Styling Program
## Author : Aditya Shakya

[options]

allow_bold = true
audible_bell = true
browser = xdg-open
clickable_url = true
cursor_blink = system
cursor_shape = block
dynamic_title = true
filter_unmatched_urls = true
font =  {{ font }}
geometry = 480x280
icon_name = terminal
modify_other_keys = false
mouse_autohide = false
scroll_on_output = false
scroll_on_keystroke = true
scrollback_lines = 15000
size_hints = false
search_wrap = true
urgent_on_bell = true
highlight = #30343e

[colors]
foreground={{ foreground }}
background={{ background }}
cursor={{ cursor }}

color0={{ color0 }}
color1={{ color1 }}
color2={{ color2 }}
color3={{ color3 }}
color4={{ color4 }}
color5={{ color5 }}
color6={{ color6 }}
color7={{ color7 }}
color8={{ color8 }}
color9={{ color9 }}
color10={{ color10 }}
color11={{ color11 }}
color12={{ color12 }}
color13={{ color13 }}
color14={{ color14 }}
color15={{ color15 }}
color16={{ color16 }}
color17={{ color17 }}
color18={{ color18 }}
color19={{ color19 }}
color20={{ color20 }}
color21={{ color21 }}

